@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Admin</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Js", required: false)
</head>
<body>
    <div class="homepage">
        <div class="logo">
            <h1>EducationCode</h1>
            <h2>کد آموز</h2>
        </div>


        <div class="menu">
            <div class="menu-menu">
                <ul>
                    <li>@Html.ActionLink("خروج از سایت", "Logout", "Admin")</li>
                    <li>@Html.ActionLink("ویرایش پسورد", "EditPassword", "Admin")</li>
                    <li>@Html.ActionLink("ویرایش پروفایل", "EditProfile", "Admin")</li>
                    <li><a href="/Home">صفحه اصلی</a></li>
                </ul>
            </div>
        </div>


        <div class="container">
            <div class="main">
                <div class="banner">
                    <img src="~/Content/Images/pics01.jpg" />
                </div>


                <div class="rows">
                    <div class="right">

                        <div class="container-subject-title">
                            مشخصات کاربری شما
                        </div>

                        <div class="Profile-menu">
                            <div>
                                @{
                                    MyWeb.Models.Domain.DB_MyWebEntities db = new MyWeb.Models.Domain.DB_MyWebEntities();
                                    string Username = Session["UserName"].ToString();
                                    string Access = Session["Access"].ToString();
                                    var q = (from a in db.tbl_Users
                                             where a.Username.Equals(Username)
                                             select a).SingleOrDefault();
                                }
                                <img src="~/Content/Images/Users/@(q.Image)" />
                                @if (Access.Equals("Admin"))
                                {
                                    <p style="direction:rtl;">
                                        مدیر گرامی
                                        @Session["Name"].ToString()
                                        @Session["Family"].ToString()
                                        خوش آمدید
                                    </p>
                                }
                                else
                                {
                                    <p style="direction:rtl;">
                                        نویسنده گرامی
                                        @Session["Name"].ToString()
                                        @Session["Family"].ToString()
                                        خوش آمدید
                                    </p>
                                }
                            </div>
                        </div>

                        <div class="container-subject-title">
                            پنل مدیریت سایت
                        </div>
                        <div class="subject-menu">
                            @{
                                int Enable = Convert.ToInt32(Session["Enable"]);

                                if (Session["Access"].ToString() == "Admin")
                                {
                                    <span>@Html.Partial("P_AdminPanel")</span>
                                }
                                else if (Session["Access"].ToString() == "Writer" && Session["Enable"].ToString() == "True")
                                {
                                    <span>@Html.Partial("P_WriterPanel")</span>
                                }
                                else
                                {
                                    <span>@Html.Partial("P_ReviewAccount")</span>
                                }
                            }

                        </div>
                    </div>

                    @RenderBody()

                </div>
            </div>
        </div>
        <div class="footer">
            تمامي حقوق مادي و معنوي اين وب سايت نزد EducationCode.ir محفوظ بوده و هر گونه کپي برداري از مطالب بدون ذکر منبع پيگرد قانوني به همراه دارد!
        </div>
    </div>
</body>
</html>
